{% extends 'base.html' %}
{% load static %}



{% block title %}
    Liste des tickets ouverts
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block content %}
    <h1>Liste des tickets ouverts</h1>
    <hr>
        <div class="container py-5"> 
            <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for ticket in tickets %}
            <div class="col">
                <div class="card h-100">
                    <img src={% static "image-ticket.jpg" %} class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ticket.titre}}</h5>
                      <p class="card-text">{{ticket.description}}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">{{ticket.date}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}